{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<script src="https://unpkg.com/applause-button/dist/applause-button.js"></script>
<link rel="stylesheet" href="https://unpkg.com/applause-button/dist/applause-button.css">

{{> navbar type=" sticky"}}

<section class="container center">
        <article class="post-full {{post_class}} {{#unless feature_image}}no-image{{/unless}}">
            {{#if feature_image}}
            <figure class="post-full-image">
                {{!-- This is a responsive image, it loads different sizes depending on device --}}
                <img srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w" sizes="(max-width: 800px) 400px,
                            (max-width: 1170px) 700px,
                            1400px" src="{{img_url feature_image size="xl"}}" alt="{{title}}" />
            </figure>
            {{/if}}

            <header id="post">
                <h1 class="text-center" id="title">{{title}}</h1>
            </header>
            <section class="post-outter">
                <section>
                    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM DD YYYY"}}</time>
                </section>
                {{#primary_tag}}
                    <a class="tag" href="{{url}}">{{name}}</a>
                {{/primary_tag}}
                <div class="post-content">
                    {{content}}
                </div>
            </section>
            <section id="clapper">
                <applause-button style="width: 58px; height: 58px" color="#3f9dff"></applause-button>
                <article>
                    <h2>Enjoy the article?</h2>
                    <p>a clap is much appreciated if you enjoyed. No sign up or cost associated :)</p>
                </article>
            </section>
            <article class="postauthor">
                <article class="about">
                    <img src="{{primary_author.profile_image}}">
                    <article class="info">
                        <article>
                            <p class="name">{{primary_author.name}}</p>
                            <p class="bio">{{primary_author.bio}}</p>
                        </article>
                        <a href="https://twitter.com/{{primary_author.twitter}}" target="_blank" class="twitter"><i class="fab fa-twitter"></i> {{primary_author.twitter}}</a>
                    </article>
                </article>
                <article class="support">
                    <a href="https://paypal.me/kentonv" target="_blank" alt="Support"><i class="fas fa-donate"></i></a>
                </article>
            </article>
        </article>

</section>
{{/post}}